.profile-info__fio{
    font-family:'Inter';
    font-style:normal;
    font-weight:500;
    font-size:42px;
    line-height:48px;
    color:#FFFFFF;
    margin: 0px;
    padding: 0px;
}
@media screen and (max-width: 400px){
    .profile-info__fio{
        font-size:27px;
        line-height:33px;
        text-align: center;
    }
}