.popap__close{
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url(../../../images/Close-Icon.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000000;
    border-style: none;
    cursor: pointer;
}
.popap__close:hover{
    opacity: 0.6;
}
@media screen and (max-width: 768px){
    .popap__close{
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0px;
    }
}
