.popap__conteiner{
    width: 430px;
    height: 330px;
    box-sizing: border-box;
    position: absolute;
    top:50%;
    left: 50%;
    margin: -165px 0 0 -215px;
    display: grid;
    background-color: #FFFFFF;
    padding: 34px 36px 37px 36px;
    align-content: space-between;
    border-radius: 10px;
}
@media screen and (max-width: 768px){
    .popap__conteiner{
        width: 282px;
        height: 322px;
        margin: -161px 0 0 -141px;
        padding: 25px 22px 25px 22px;
    }
}
